#section1{
   background-color: rgb(50, 60,20 );
}

#section2{
    background-color: rgb(40, 60,0);
}

#section3{
    background-color: rgb(60, 100, 0);
}

.section{
    text-align: centre;
    color: White;
   
}